{% extends 'main/base.html' %}

{% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="/static/css/login.css">
{% endblock %}

{% block title %}Авторизация{% endblock %}

{% block content %}
    <div class="background">
        <h2>Войти</h2>
        <div class="message">{{ message }}</div>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <a class="password">Восстановление пароля</a>
            <a class="reg" href="/authorization/signup">Регистрация</a>
            <button type="submit">Войти</button>
        </form>
    </div>
{% endblock %}