<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/base_style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css">
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <title>RCS</title>
</head>
<body>
    <header>
        <div class="logo_text">RabbitsControlSystem</div>
        <div class="menu" 
         onmousemove="document.querySelector('header').style.backgroundColor = 'rgb(69, 69, 221)';"
         onmouseout="document.querySelector('header').style.backgroundColor = 'transparent';"
         >
            <div class="menu_content">
                <li id="authorization" type="none"><a class="menu_string">Авторизация</a></li>
                <li type="none"><a class="menu_string">Система мониторинга</a></li>
                <li type="none"><a class="menu_string">Заказ оборудования</a></li>
                <li type="none"><a class="menu_string" href="setup">Информация об установке</a></li>
                <li type="none"><a class="menu_string">Сотрудничество</a></li>
                <li type="none"><a class="menu_string">О нас</a></li>
                <li type="none"><a class="menu_string">Контакты</a></li>
            </div>
        </div>
    </header>

    <div class="swiper">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- Slides -->
          <div class="swiper-slide">
            <div class="block">
                <div class="title_img">Система контроля состояния кроликов</div>
                <div class="bottom"><div class="bottom_text">Подробнее</div></div>
            </div>
          </div>
          <div class="swiper-slide">
            <div id="cheaps" class="block">
                <div class="title_img">Требования для установки оборудования</div>
                <a href="setup"><div class="bottom"><div class="bottom_text">Подробнее</div></div></a>
            </div>
          </div>
          <div class="swiper-slide">
            <div id="cooperation" class="block">
                <div class="title_img">Сотрудничество с нами</div>
                <div class="bottom"><div class="bottom_text">Подробнее</div></div>
            </div>
          </div>
        </div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
        <div class="swiper-scrollbar"></div>
    </div>

    
    <div class="about_system">
        <div class="container">
            <h1>О нашей системе</h1>
            <div class="cell_img"><img src="/static/img/cheap.png"></div>
            <div class="text">Наша система позволяет наблюдать за состоянием кроликов.
                Для этого мы используем чипы, которые измеряют температуру, давление и пульс животных.
                При отклонении от нормы, появится отметка в списке с описанием.</div>
        </div>
    </div>

    <div class="about_us">
        <div class="container">
            <h1>О наc</h1>
            <div class="cell_img"><img src="/static/img/cell.png"></div>
            <div class="text">Мы - молодая компания, которая занимается разработкой автоматизированных систем контроля кроликов, 
                что позволяет значительно снизить их смертность. Наша система поможет кролиководческим предприятиям
                работять удобнее и эффективнее, что позволит повысить прибыль.
            </div>
        </div>
    </div>

    <div class="cooperation">
        <div class="container">
            <h1>Сотрудничество</h1>
            <div class="cell_img"><img src="/static/img/cell.png"></div>
            <div class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore atque impedit expedita quod quo,
                sunt saepe, rerum vero debitis neque eaque dolorem perferendis facere fugiat modi enim, laboriosam illum? Perferendis. Lorem ipsum dolor sit amet, 
                consectetur adipisicing elit. Ipsa ullam nemo quisquam nam beatae,
                perferendis dolorum vitae a iste praesentium? Adipisci, incidunt similique! Dolores minus vitae culpa tenetur architecto consectetur.
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                Voluptate provident saepe nisi necessitatibus, soluta adipisci, porro quod repudiandae iste ad ab dolorum natus autem doloremque, consectetur hic vitae commodi at!
            </div>
        </div>
    </div>
    

    <footer>
        <div class="container">
            <div class="title_foot">RabbitsControlSystem</div>
            <div class="foot_block">
                <li type="none"><a class="foot_string">Система мониторинга</a></li>
                <li type="none"><a class="foot_string">Заказ оборудования</a></li>
                <li type="none"><a class="foot_string" href="/setup">Информация об установке</a></li>
                <li type="none"><a class="foot_string">О нас</a></li>
                <li type="none"><a class="foot_string">Контакты</a></li>
            </div>
            <div class="number">+7 999 567 89 34</div>
        </div>
    </footer>
    <script type="text/javascript" src="/static/js/main_header.js"></script>
    <script type="text/javascript" src="/static/js/header.js"></script>
    <script type="text/javascript" src="/static/js/base.js"></script>
</body>
</html>