<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/base_style.css">
    {% block stylesheet %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <header>
        <div class="logo_text"><a href="/">RabbitsControlSystem</a></div>
        <div class="menu">
            <div class="menu_content">
                {% if user.is_authenticated %}
                    <li id="authorization" type="none"><div class="user_string">Здравствуйте, <a class="menu_string" href="/profile">{{ user.first_name }}</a>!</div></li>
                {% else %}
                    <li id="authorization" type="none"><a class="menu_string" href="authorization/login">Авторизация</a></li>
                {% endif %}    
                <li type="none"><a class="menu_string" href="monitoring">Система мониторинга</a></li>
                <li type="none"><a class="menu_string">Заказ оборудования</a></li>
                <li type="none"><a class="menu_string" href="setup">Информация об установке</a></li>
                <li type="none"><a class="menu_string">Сотрудничество</a></li>
                <li type="none"><a class="menu_string">О нас</a></li>
                <li type="none"><a class="menu_string">Контакты</a></li>
            </div>
        </div>
    </header>

    {% block content %}
    {% endblock %}

    <footer>
        <div class="container">
            <div class="title_foot"><a href="/">RabbitsControlSystem</a></div>
            <div class="foot_block">
                <li type="none"><a class="foot_string">Система мониторинга</a></li>
                <li type="none"><a class="foot_string">Заказ оборудования</a></li>
                <li type="none"><a class="foot_string">Информация об установке</a></li>
                <li type="none"><a class="foot_string">О нас</a></li>
                <li type="none"><a class="foot_string">Контакты</a></li>
            </div>
            <div class="number">+7 999 567 89 34</div>
        </div>
    </footer>
    <script type="text/javascript" src="/static/js/header.js"></script>
</body>
</html>