{% extends 'main/base.html' %}

{% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="/static/css/monitoring.css">
{% endblock %}

{% block title %}Мониторинг кроликов{% endblock %}

{% block content %}
    <div class="container">
        <h2>{{ user.first_name }}, ваши группы кроликов:</h2>
        <button id="get_test_data">Получить тестовые данные</button>
        <h3>Группа 1</h3>
        <table id="rabbits-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Имя</th>
                    <th>Температура</th>
                    <th>Средняя температура</th>
                    <th>Пульс</th>
                    <th>Средний пульс</th>
                </tr>
            </thead>
            <tbody>
                {% for rabbit in rabbits %}
                <tr>
                    <!--
                    <td>{{ rabbit.0 }}</td>
                    <td>{{ rabbit.1 }}</td>
                    <td>{{ rabbit.2 }}</td>
                    <td>{{ rabbit.3 }}</td>
                    <td>{{ rabbit.4 }}</td>
                    <td>{{ rabbit.5 }}</td>
                    -->
                    <td>{{ rabbit.rabbit_id }}</td>
                    <td>{{ rabbit.rabbit_name }}</td>
                    <td>{{ rabbit.rabbit_temp }}</td>
                    <td>{{ rabbit.rabbit_temp_med }}</td>
                    <td>{{ rabbit.rabbit_pulse }}</td>
                    <td>{{ rabbit.rabbit_pulse_med }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block script %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="/static/js/monitoring.js"></script>
{% endblock %}