{% extends 'main/base.html' %}

{% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="/static/css/setup_style.css">
{% endblock %}

{% block title %}Характеристики системы{% endblock %}

{% block content %}
    <div class="container">
        <div class="types">
            <div class="information">
                <h1>Информация об установке</h1>
                <div class="title_text">Установка подходит как для клеточного, так и для открытого содержания кроликов. 
                    Ниже перечислены основные требования для установки оборудования для разного типа ферм </div>
            </div>

            <div class="cell">
                <h2>Требования для ферм клеточного содержания</h2>
                <div class="cell_img"><img src="/static/img/cell.png"></div>
                <div class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore atque impedit expedita quod quo,
                    sunt saepe, rerum vero debitis neque eaque dolorem perferendis facere fugiat modi enim, laboriosam illum? Perferendis. Lorem ipsum dolor sit amet, 
                    consectetur adipisicing elit. Ipsa ullam nemo quisquam nam beatae,
                    perferendis dolorum vitae a iste praesentium? Adipisci, incidunt similique! Dolores minus vitae culpa tenetur architecto consectetur.
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                    Voluptate provident saepe nisi necessitatibus, soluta adipisci, porro quod repudiandae iste ad ab dolorum natus autem doloremque, consectetur hic vitae commodi at!
                </div>
            </div>

            <div class="open">
                <h2>Требования для ферм открытого содержания</h2>
                <div class="cell_img"><img src="/static/img/open.png"></div>
                <div class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore atque impedit expedita quod quo,
                    sunt saepe, rerum vero debitis neque eaque dolorem perferendis facere fugiat modi enim, laboriosam illum? Perferendis. Lorem ipsum dolor sit amet, 
                    consectetur adipisicing elit. Ipsa ullam nemo quisquam nam beatae,
                    perferendis dolorum vitae a iste praesentium? Adipisci, incidunt similique! Dolores minus vitae culpa tenetur architecto consectetur.
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                Voluptate provident saepe nisi necessitatibus, soluta adipisci, porro quod repudiandae iste ad ab dolorum natus autem doloremque, consectetur hic vitae commodi at!
                </div>
            </div>
        </div>

        <div class="specifications">
            <h1>Характеристики устройства</h1>
            <table>
                <tr>
                    <th>Радиус действия</th>
                    <th>Необходимый возраст животного</th>
                    <th>Необходимая масса животного</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                </tr>
            </table>
        </div>
    </div>
{% endblock %}